@font-face {
    font-family: lato-Bold;
    src: url(lato-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: lato-Regular;
    src: url(lato-Regular.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

}

.icon {
    width: 13%;
    margin: 10px 0;
    filter: drop-shadow(3px 4px 6px black);
}

#email {
    margin: 0;
    width: 15%;
}

#atadas {
    width: 17%;
}

.background {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg, #161616bd 30%, rgba(241, 241, 241, 0.092)60%), url("photos/FloorMaster.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header {
    position: absolute;
    width: 100vw;
    height: 80px;
    top: 0;
    left: 0;
    background-color: rgb(167, 151, 135);
    box-shadow: 1px 2px 20px 1px rgb(54, 53, 53);
}


header img {
    position: absolute;
    top: 20px;
    width: 80px;
    left: 20px;
}

.main-nav_items {
    display: flex;
    justify-content: center;
    font-family: "lato-Regular", serif;
    text-transform: uppercase;

}

.main-nav_item {
    padding: 30px;
    font-size: 1rem;
    display: none;

}

.main-nav_items li a,
.mobile-nav-item a {
    color: #313131fb;
    list-style: none;
    text-decoration: none;
}


/* Mobile NAV */

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 105;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgb(148, 135, 120), rgba(148, 135, 120, 0.805)), url("photos/FloorMaster.webp");
    width: 100%;
    height: 100vh;
    animation: move 1s ease;
    overflow: hidden;
    font-family: "lato-Regular", sans-serif;

}

.mobile-nav img {
    width: 100px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
}

.mobile-nav-items {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}



.mobile-nav-item a {
    font-size: 1.4rem;
    text-transform: uppercase;

}

/* Hamburger menu*/


.toggle-button {
    width: 2rem;
    background: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 22px;
    right: 1rem;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-bar {
    width: 100%;
    height: .15rem;
    background: white;
    display: block;
    margin: 0.4rem 0;
}

.fas {
    transform: rotate(-20deg);
    filter: drop-shadow(4px 4px 5px rgb(147, 145, 145));
    position: relative;
    top: 10px;
}

.cruisin_title {
    position: absolute;
    bottom: 50%;
    left: 0px;
    margin-left: 1rem;
    transform: translate(0, 50%);

}

.cruisin_title a {
    text-decoration: none;
}


.cruisin_title h1 {
    color: rgb(239, 238, 238);
    letter-spacing: .1rem;
    font-family: "lato-Bold", sans-serif;
    font-size: 2.5rem;
    animation: appear 1.7s ease-in-out;
    text-shadow: 2px 2px 5px rgb(30, 30, 30);
    text-decoration: none;
}

.sub_title {
    font-size: 1rem;
    font-family: "lato-Regular", sans-serif;
    color: rgb(239, 238, 238);
    animation: appear 2.7s ease-in-out;
    width: 80%;
    text-shadow: none;

}

.tel {
    margin-top: 1.5rem;
    color: rgb(193, 193, 193);
    font-size: 1rem;
}

.email {
    color: rgb(193, 193, 193);
    font-size: 1rem;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top left, rgba(167, 151, 135, 0.973)65%, rgba(29, 16, 8, 0.211)105%), url("photos/FloorMaster_parketta_textura.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text img {
    width: 35%;
    padding: 3rem 0;
}


.picture {
    width: 100%;
    justify-content: center;
    display: flex;
}

.picture img {
    width: 100%;

}

.szolgaltatasok {
    font-family: "lato-Bold", serif;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    padding: 3rem 0 0 0;
    border-bottom: 4px solid rgb(160, 76, 52);
    width: 240px;
    margin: 0 auto;
}

.container {
    background: radial-gradient(rgba(65, 57, 45, 0.658), rgba(4, 4, 9, 0.983)), url("photos/FloorMaster_munka1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(220, 216, 212);

}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0 2rem 0;
    font-family: "lato-Regular", serif;
}

.service {
    border-left: 5px solid rgb(160, 76, 52);
    border-radius: 0px 10px 30px 0px;
    height: 90%;
    width: 90%;
    margin-top: 3rem;
    padding: 1.5rem;
    background-color: rgba(146, 141, 137, 0.508);
    box-shadow: 2px 2px 7px 1px rgb(34, 34, 34);
}

.service h1 {
    margin-bottom: 1rem;
    color: #e6e0dd;
    font-size: 1.6rem;
    font-family: "lato-Bold", serif;
}

.arajanlat {
    font-family: "lato-Bold", serif;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    border-bottom: 4px solid rgb(160, 76, 52);
    width: 160px;
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 2rem;
}


.container a {
    text-decoration: none;
    color: #d0d0d0;
}

.skics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #423d3635;
    width: 80%;
    margin: 0 auto;
}

.skic {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
}

.skics h3 {
    font-family: "lato-Bold", serif;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.skics p {
    font-family: "lato-Regular", serif;
    text-align: justify;

}


footer {
    background-color: rgba(51, 34, 19, 0.663);
    color: rgb(194, 194, 194);
    font-family: 'lato-Regular', sans-serif;
    font-weight: 100;
}

.footer_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 1rem;

}

.footer_container a {
    text-decoration: none;
    background-color: #0c2045fb;
    background-image: linear-gradient(45deg, rgb(25, 53, 105), #a11b4af5 80%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}




/*  Rólam */

.background_about_me {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(120deg, #161616bd 20%, rgba(241, 241, 241, 0.092)50%), url("photos/floormaster_rolam_hatter.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background_about_me h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: #e6e0dd;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    font-family: "lato-Regular", serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgb(81, 80, 80);
}

.about_me_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top left, rgba(150, 137, 125, 0.973)65%, rgba(29, 16, 8, 0.211)105%), url("photos/FloorMaster_parketta_textura.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

span {
    font-size: 1.4rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.rolam {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;

}


.rolam_kep {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 10px 1px rgb(49, 49, 49);
    margin-bottom: 3rem;
}

.rolam_kep img {
    width: 100%;
}

.rolam p {
    font-family: "lato-Regular", serif;
    color: #d0d0d0;
    text-align: center;
}


/* Gallery */


.background_gallery {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(120deg, #161616bd 20%, rgba(241, 241, 241, 0.092)50%), url("photos/galeria_hatter.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.background_gallery h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: #e6e0dd;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    font-family: "lato-Regular", serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgb(81, 80, 80);
}


.gallery_container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(148, 135, 120, 0.801), rgb(44, 47, 50)), url("photos/FloorMaster.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 2px;
}

.gallery a {
    color: transparent;
}


/* Kapcsolat */


.background_contact {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(120deg, #161616bd 20%, rgba(241, 241, 241, 0.092)50%), url("photos/floormaster_kapcsolat_hatter.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.background_contact h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: #e6e0dd;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    font-family: "lato-Regular", serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgb(81, 80, 80);
}



.contact_container {
    width: 100%;
    background: linear-gradient(to right, rgba(148, 135, 120, 0.801), rgb(44, 47, 50)), url("photos/FloorMaster.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contacts {
    color: #e7e7e7;
    font-family: "lato-Regular", serif;
    text-transform: uppercase;
    margin-left: 1rem;
    line-height: 35px;

}

.contacts h1 {
    font-size: 1.4rem;
    font-family: "lato-Bold", serif;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.contacts h2 {
    font-size: 1rem;
    font-family: "lato-Bold", serif;
}

.contacts p {
    font-size: 1rem;

}

.kisbetu {
    text-transform: lowercase;
}

.floormaster_map {
    text-align: center;
}


.floormaster_map img {
    width: 80%;
    filter: brightness(140%);

}


/* Árlista */

#lowercase {
    text-transform: lowercase;
}

.background_arlista {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(120deg, #161616bd 20%, rgba(241, 241, 241, 0.092)50%), url("photos/floormaster_arlista_hatterkep.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.background_arlista h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: #e6e0dd;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    font-family: "lato-Regular", serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgb(81, 80, 80);
}

.container_arlista {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, rgba(148, 135, 120, 0.801), rgb(44, 47, 50)), url("photos/FloorMaster.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "lato-Regular", serif;
    text-transform: uppercase;
}

table {
    width: 90%;
    border: 1px solid rgba(84, 84, 84, 0.992);
    padding: 10px;
    background: linear-gradient(to right, rgba(103, 94, 83, 0.795), rgb(58, 61, 66));
    color: #d0d0d0;
    box-shadow: 2px 3px 10px 1px rgb(44, 44, 44);
}

caption {
    margin: 30px 0;
    font-style: italic;
    color: #d0d0d0;
}

tr {
    font-family: "lato-Regular", serif;
    text-transform: uppercase;
    font-size: .7rem;
}

td,
th {
    text-align: center;
    padding: 10px 0;
}

th {
    font-family: "lato-Bold", serif;

}

tr:nth-child(even) {
    background-color: rgba(164, 151, 138, 0.347);
}

.kata {
    font-family: "lato-Bold", serif;
    font-style: italic;
    text-transform: uppercase;
    margin: 30px 20px;
    color: #d0d0d0;
}




/* Animations */

@keyframes scale {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes mobile {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes move {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;


    }
}



@media (min-width: 1200px) {
    .background {
        background-position-y: 25%;
        background-attachment: fixed;
    }

    header img {
        left: 50px;
        top: 25px;
    }

    .toggle-button {
        display: none;
    }

    .container {
        flex-direction: row;

    }

    .cruisin_title h1 {
        font-size: 4rem;
    }

    .sub_title {
        width: 50%;
    }

    main {
        flex-direction: row;
    }

    .text {
        width: 100%;
        text-align: center;
    }

    .services {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .service {
        width: 30%;
        height: 400px;
        margin: 1rem;
    }


    .nav-items {

        display: flex;
    }

    .main-nav_item {
        display: flex;


    }

    .main-nav li a:hover {
        animation: scale .4s;
    }


    .cruisin_title {
        margin-left: 10rem;
    }

    .skics {
        width: 40%;
    }

    .skics h3 {
        font-size: 1.5rem;
    }

    .skic {
        width: 60%;
        padding: 2rem 0;
    }


    .about_me_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        padding: 5rem;
    }

    .rolam {
        width: 40%;
        padding: 3rem;
    }

    .rolam_kep {
        width: 30%;
        margin-bottom: 0;
    }

    .background_about_me h1 {
        font-size: 2rem;
    }

    .background_gallery h1 {
        font-size: 2rem;
    }

    .background_contact h1 {
        font-size: 2rem;
    }

    .gallery {
        display: inline-block;
        text-align: center;

    }

    .gallery img {
        height: 300px;
        width: 300px;
        object-fit: cover;
        margin: 1rem;
    }

    .gallery img:hover {
        filter: brightness(40%);
        transition: .1s ease-in;
    }

    .contact_container {
        flex-direction: row;
        align-items: center;
        height: 60vh;
    }

    .contacts {
        margin-left: 7rem;
    }

    .contacts h1 {
        font-size: 1.5rem;
        font-family: "lato-Bold", serif;
    }

    .contacts h2 {
        font-size: 1.1rem;
        font-family: "lato-Bold", serif;
    }

    .contacts p {
        font-size: 1.1rem;
    }

    .floormaster_map {
        text-align: center;
    }

    .floormaster_map img {
        width: 40%;
    }

    .background_arlista {
        background-position: bottom;
    }

    .background_arlista h1 {
        font-size: 2rem;
    }

    table {
        width: 70%;

    }


    caption {
        margin: 50px 0;
        font-style: italic;
    }

    tr {
        font-family: "lato-Regular", serif;
        text-transform: uppercase;
        font-size: 1rem;
    }

    td,
    th {
        text-align: center;
        padding: 20px;
    }

    .kata {
        font-family: "lato-Bold", serif;
        font-style: italic;
        text-transform: uppercase;
        margin: 50px 0;
        font-size: 1rem;
    }


}